---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/templates/Footer.astro';
import { twMerge as tw } from "tailwind-merge";
import { Image } from "astro:assets";
import "../global.css";

import Section from "../components/system/Section.astro";
import Text from "../components/system/Text.astro";
import PracticeBook from '../components/utils/PracticeBook.astro';
import Faqs from '../components/utils/faqs.astro'

import Slide from '../components/system/Slide.astro';

import slide1 from "../img/slides/1.png";
import slide2 from "../img/slides/2.jpeg";
import slide3 from "../img/slides/3.png";
import slide4 from "../img/slides/4.jpg";

import slide1MB from "../img/slides/mb/mb1.png";
import slide2MB from "../img/slides/mb/mb2.png";
import slide3MB from "../img/slides/mb/mb3.png";
import slide4MB from "../img/slides/mb/mb4.png";
import NpsLogo from "../img/NPS-favIcon.png";
import bgNpsLogo from "../img/bgNpsLogo.png"


import Founder from "../assets/team/nita.png";
import ViceChairperson from "../assets/team/isha.png";
import FancyLine from '../assets/decorations/line.svg'
import OurOverview from '../components/OurOverview.astro';

const navLink = 'text-base font-semibold transition-colors duration-100 hover:text-blue-600 hover:font-black';
const faSolid = 'text-[30px] md:text-[40px] cursor-pointer';
const mainInfo = 'flex flex-col gap-4';
const mainTitle = 'text-2xl font-bold font-display italic';
const mainDescription = 'text-base font-sans';

const team = [
  {
    name: 'Nita Ambani',
    alt: 'Nita Ambani',
    image: Founder,
    designation: 'Founder, DAIS',
    designationClass: 'text-cp-7',
    title: "Founder's Message",
    titleClass: 'text-cp-6',
    testimonial: 'Every parent would like to have a child whose personality shines wherever the child goes. It is the personality that is appreciated everywhere. Such a pleasing personality is what is the main aim of education.',
  },
  {
    name: 'Isha Ambani',
    alt: 'Isha Ambani',
    image: ViceChairperson,
    designation: 'Vice-Chairperson, DAIS',
    designationClass: 'text-primary',
    title: "Vice-Chairperson's Note",
    titleClass: 'text-primary',
    testimonial: 'DAIS is the perfect place for the child to blossom to its true and full potential. Our dedicated facilitators guide the children with love and provide an atmosphere for joyful learning. Children are taught concepts with hands on materials for better understanding. At most importance is given for Safety, Cleanliness and Security of the children in an atmosphere that is Serene, Peaceful and Homely.',
  },
]
---

<Layout title="DIAS">
	<main class="text-[#000000] text-[20px] leading-relaxed">
	<!-- START: header -->
	<header class="fixed w-full top-0 left-0 z-50 bg-[#fdfdfd]">
    <div class="mx-auto flex justify-between items-center p-4">
      <a href="#logo" class="flex items-center text-2xl font-bold no-underline gap-2">
        <img src="src/assets/logo.png" alt="logoK" class="h-12 w-12" />
        <span class="text-[1.2rem] font-bold md:text-[2rem]">DAIS</span>
      </a>

      <ul id="ul" class="hidden md:flex justify-between items-center gap-6 text-lg">
        <li class="list-none mr-1"><a href="#home" class={navLink}>Home</a></li>
        <li class="list-none mr-1"><a href="#about-us" class={navLink}>About Us</a></li>
        <li class="list-none mr-1"><a href="#academics" class={navLink}>Academics</a></li>
        <li class="list-none mr-1"><a href="#events" class={navLink}>Events</a></li>
        <li class="list-none mr-1"><a href="#contact-us" class={navLink}>Contact Us</a></li>
        <!-- <li><i class="nav-link fa-solid fa-moon"></i></li> -->
      </ul>

      <div id="hamburger" class="flex md:hidden border-none rounded-md text-base font-semibold py-2 px-3">
        <i class=`fa-solid fa-bars ${faSolid} h-6 w-6`></i>
        <!-- <img src="./images/bars-solid.svg" class="fa-solid fa-bars" alt="bars"> -->
      </div>
    </div>
  </header>
  <!-- END: header -->

	 <!-- START: hero -->
   <div class='flex flex-col max-md:h-auto min-h-[100svh] relative'>
    <div class="w-full flex-1 h-full relative p-12  max-md:mt-[70px] py-2 flex flex-row max-md:flex-col justify-between items-center max-md:p-8 max-md:px-4">
      <div class="w-full h-full absolute top-0 left-0 max-md:hidden">
        <Slide
          slides={[
            { image: slide1, position: 'center' },
            { image: slide2, position: 'center' },
            { image: slide3, position: 'center' },
            { image: slide4, position: 'center' }
          ]}
          id="resiter-page-hero"
        />
      </div>
  
      <div class="w-full absolute top-0 left-0 max-md:block hidden h-[74vh] z-[2]">
        <Slide
          slides={[
            { image: slide1MB, position: 'top' },
            { image: slide2MB, position: 'top' },
            { image: slide3MB, position: 'top' },
            { image: slide4MB, position: 'top' }
          ]}
          id="resiter-page-hero-mb"
        />
      </div>
  
      <div
        class="
          absolute w-full  h-[400px] top-[30vh] left-0
          hidden
          max-md:block
          z-[5]
          opacity-70
          bg-gradient-to-t from-black to-transparent
        "
  
      />
      <div
        class="
          absolute w-full h-full top-0 left-0
          hidden
          max-md:block
          opacity-100
          z-[1]
          bg-gradient-to-t from-black to-[#361f03]
        "
      >
  
      </div>
  
      <div class="max-md:p-[24vh] max-md:block hidden"  />
  
      <div class="h-full flex flex-row items-end relative z-20 self-end max-md:self-start max-md:w-full justify-center">
        <div class="text-left mb-[80px] max-md:mb-0">
          <Text type="minH1" class="!font-[gothamMedium] font-[600] text-[59px] max-md:text-[2rem] text-white !leading-[101%] max-md:text-center !-tracking-[1.191px]">Cultivating Excellence,<br class="max-md:hidden"/> Fostering Growth</Text>
          <Text type="lg" class="text-white w-full -tracking-[0.48px] text-center md:text-start leading-[140%] md:mt-[14px] mt-2 max-md:text-center" >A nurturing environment <span class="font-[700]">where brilliance thrives.</span></Text>
        </div>
      </div>
  
  
      <div class="max-md:py-1" />
      <!-- <RegisterForm /> -->
    </div>
    <div class="bg-gradient-to-t from-black to-transparent  opacity-95 w-full absolute bottom-0 h-[250px]" ></div>
   </div>

  <!-- END: hero -->

	<!-- START: about-us -->
  <section id="about" class="py-10 text-center">
    <div class="mx-auto px-8">
      <div class={mainInfo}>
        <h2 class={mainTitle}>About Us</h2>
        <p class={mainDescription}>Dhirubhai Ambani International School is a K-12 co-educational International Day School established in 2003, with a view to offering world-class educational opportunities in the city of Mumbai. The School is affiliated to the CISCE (Council for the Indian School Certificate Examinations) and CAIE (Cambridge Assessment International Education), and prepares students for the ICSE (Indian Certificate of Secondary Education) and the IGCSE (International General Certificate of Secondary Education) Year 10 examinations. For Years 11 and 12, we are authorised by the IB (International Baccalaureate) to offer the IB Diploma Programme. The student body, comprising 1,087 students, reflects the cultural diversity of India. The school has 187 teachers, with 27 being expatriates. With a teacher-student ratio of 1:6, every child enjoys individualised attention. The School is recognised as India's premier international school, and is also among the top IB schools globally.</p>
      </div>
    </div>

    <div class="flex flex-row max-lg:flex-col justify-items-start gap-[20px] h-fit max-md:h-auto px-11 mt-[20px]">
      {team.map((testimonial, index) => (
        <div data-gsap data-delay={0.3 + index * 0.3} data-y={100} data-duration={0.7}  class="flex-1 flex border-[2.5px] border-[#E2E2E2] overflow-hidden flex-row max-md:flex-col w-full bg-white rounded-[12px]">
          <div class="w-[45%] max-md:w-full max-md:h-[260px] h-auto">
            <Image src={testimonial.image} alt={testimonial.alt} class="object-cover object-center w-full h-full" />
          </div>
          <div class="w-[55%] max-md:w-full p-6 flex flex-col justify-between">
            <div>
              <Text type="h4" class={tw(testimonial.titleClass, "text-[37px] leading-[120%] max-lg:text-[25px]")} set:html={testimonial.title} />
              <div class="pt-[12px]" />
              <Text type="sm" set:html={testimonial.testimonial} />
            </div>
            <div>
              <Text type="sm" class={tw('text-[#121212] text-[24px] font-[500] max-md:font-[600] pt-7')}>{testimonial.name}</Text>
              <Text type="sm" class={tw('text-[#121212] font-[500] max-md:mt-[2px]', testimonial.designationClass)}>{testimonial.designation}</Text>
            </div>
          </div>
        </div>
      ))}
    </div>
  </section>
  <!-- END: about-us -->

  <!-- START: our-overview -->
  <div class=" flex  w-full mt-12 md:mt-[84px] justify-center md:px-[60px]  px-5" >
    <OurOverview/>
  </div>
  <!-- END: our-overview -->
  
  <!-- START: the-dais-community -->
  <Section class="px-0" class="flex flex-col items-center pb-0 mt-0 lg:mt-[60px]">
    <Text type="h2" class="font-[400] text-cp-4 [&_.line]:!inline text-center" id="ssrvm-community"><span data-text>The DAIS</span><span></span> <PracticeBook class="border-cp-1"><span class="font-bold italic text-cp-1">Community</span></PracticeBook></Text>
    <Image src={FancyLine} alt="Fancy Line" class="w-[252px] my-[26px]" data-gsap data-delay={0.6} data-target="#ssrvm-community" data-duration={1.9} />
    <Text type="base" class="w-[84%] text-center" data-lines data-delay={0.8} data-target="#ssrvm-community">For 25+ years, our community cultivates knowledge, values, and resilience across India, weaving tradition with modernity for a transformative educational future.</Text>
    <div class="pt-[26px]"></div>
    <div class="flex flex-row items-center gap-12 max-lg:gap-[30px] max-lg:flex-col">

      <div class="flex flex-row max-lg:gap-[40px] gap-12 flex-shrink-0">
        <div class="text-cp-1 flex flex-col items-center max-md:text-[50px]" data-delay={0.1 + 0.4} data-y={60} data-target="#ssrvm-community" data-gsap>
          <Text type="h3" class="italic text-[71px] max-md:text-[46px]">25</Text>
          <Text type="base" class="uppercase mt-[5px] font-bold text-center tracking-[2.25px]">Years of<br/> Excellence</Text>
        </div>
        <div class="text-cp-4 flex flex-col items-center" data-delay={0.2 + 0.4} data-y={60} data-target="#ssrvm-community" data-gsap>
          <Text type="h3" class="italic text-[71px] max-md:text-[46px]">14+</Text>
          <Text type="base" class="uppercase mt-[5px] font-bold text-center tracking-[2.25px]">States In<br/> India</Text>
        </div>
      </div>

      <div class="flex flex-row gap-[40px] md:gap-12">
        <div class="text-cp-3 flex flex-col items-center" data-delay={0.3 + 0.4} data-y={60} data-target="#ssrvm-community" data-gsap>
          <Text type="h3" class="italic text-[71px] max-md:text-[46px]" >40,000+</Text>
          <Text type="base" class="uppercase mt-[5px] font-bold text-center tracking-[2.25px]">Students</Text>
        </div>
        <div class="text-cp-2 flex flex-col items-center" data-delay={0.4 + 0.4} data-y={60} data-target="#ssrvm-community" data-gsap>
          <Text type="h3" class="italic text-[71px] max-md:text-[46px]">2500+</Text>
          <Text type="base" class="uppercase mt-[5px] font-bold text-center tracking-[2.25px]">Teachers</Text>
        </div>
      </div>

      <div class="text-cp-8 flex flex-col items-center" data-delay={0.5 + 0.4} data-y={60} data-target="#ssrvm-community" data-gsap>
        <Text type="h3" class="italic text-[71px] max-md:text-[46px]">90+</Text>
        <Text type="base" class="uppercase mt-[5px] font-bold text-center tracking-[2.25px] flex-shrink-0">Institutions<br/> including DAIS</Text>
      </div>
    </div>

    <div class="mt-[65px] max-md:mt-[45px]">
    </div>
  </Section>
  <!-- END: the-dais-community -->

  <!-- START: FAQs -->
  <div class="w-full items-center flex flex-col mb-5 bg-white">
    <div class="p-4"></div>
    <Text type={"subtitle"} class="text-black/60">THINGS TO NOTE</Text>
    <Text type={"h2"} class="mt-2 text-[#282828] tracking-[-1.44px] font-semibold">FAQs</Text>
    <div class="p-4"></div>
    <Faqs />
    <div class="p-3"></div>
  </div>
  <!-- END: FAQs -->

  <Footer />
	<script>
   import "../scripts/menu.js";
   import collapsible, {
    openCollapsible,
  } from "../components/system/collapsible";
  collapsible(".collapsible", null);
  </script>

	<script src="https://kit.fontawesome.com/1f959912e2.js" crossorigin="anonymous"></script>
	</main>
</Layout>

<style>
@media screen and (max-width: 768px) {
  #ul.ham_active{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 70px;
    right: 0px;
    width: 35%;
    height: 135vh;
    gap: 20px;
    background-color: #fdfdfd;
  }
}

.images {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 1s ease;
}

.bottom {
  display: flex;
  gap: 20px;
  position: absolute; 
  bottom: 0px; 
  width: fit-content;
  left: 50%; 
  transform: translate(-50%) 
  @media screen and (min-width: 768px) {
    gap: 30px;
  }
}

.button {
  width: 12px;
  height: 12px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    width: 15px;
    height: 15px;
  }
}
</style>
